# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Python distribution
*.egg-info/
dist/
build/
